
.container {
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg-img.png");
    background-size: cover;
    align-items:center;
    //개행문자 인식
    white-space: pre-line;
  }

  .logo-container {
    margin-top: 6rem;
    margin-bottom: 3rem;
    width: 18rem;
  }

  img{
   width: 18rem;
  }

.main-text{
    font-weight: 700;
    font-size: 26px;
    letter-spacing:1px;
}

.upload-container{
    width: 38em;
    height: 40rem;
    background-color: #fff;
    margin-top: 4em;
    border-radius: 36px;
}