.container {
    // max-width: 500px;
    width:40rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg-img.png");
    background-size: cover;
    align-items:center;
    //개행문자 인식
    white-space: pre-line;
  }

  .logo-container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 14rem;
  }

  img{
   width: 14rem;
  }

.main-text{
    font-weight: 700;
    font-size: 26px;
    letter-spacing:1px;
}

.upload-container{
    margin-bottom: 10em;
    padding-top: 2rem;
    width: 34rem;
    height: 70rem;
    background-color: rgba(255, 255, 255, 0.5); 
    margin-top: 4em;
    border-radius: 36px;
    align-items: center;
    opacity: 0.9;
    display:flex;
    // align-content: center;
    // justify-content: center;    
    flex-direction: column;
    filter: drop-shadow(0 4px 20px rgba(24, 23, 37, 0.1));
}

.upload-button{
    width: 30rem;
    height: 18rem;
    background-color:#Ffffff;
    border-radius: 16px;
    border: solid 1px transparent;
    // justify-content: center; 
    // align-content: center;
}

.image-preview{
    width: 80%;
    // height: 60%;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.input-img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cont;
}
.upload-icon-image-container{
    align-self:center;
    align-content: center;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
}

.upload-icon-image{
    align-self:center;
    justify-self: center;
    width: 6rem;
}

.inner-button{
    background-color:#9775FA;
    border-radius: 16px;
    width: 15rem;
    height: 5rem;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

.inner-button-text{
color: #fff;
font-weight: 700;
font-size: 20px;
}


.title-container {
    width: 30em;
    // background-color: red;
    margin: 10px;
}

.title-text{
    margin-top:2px;
    margin-left:2px;
    font-size:18px;
    font-weight:500;
}

.theme-buttons-container{
    display:flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    
}

.theme-four-buttons-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    justify-content: space-between; 
}

// .theme-button-container{
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     filter: drop-shadow(0 4px 20px rgba(24, 23, 37, 0.1));
//     border: 2px solid ${({ selected }) => selected ? "#9775FA" : "#ffffff"};

// }
.theme-button-img-container{
    width: 7rem;
    height: 7rem;
    border-radius: 8px 8px 0 0;
}

.theme-button-text-container{
    width: 7rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    background-color:#Ffffff;

}

.theme-button-text{
    color:#868E96;
    font-size: 1.3em;
    font-weight: 400;
}

.text-input{
    width: 30rem;
    min-height: 44px;
    height:auto;
    border: solid 1px transparent;
    border-radius:16px;
    filter: drop-shadow(0 4px 20px rgba(24, 23, 37, 0.05));
    margin-bottom: 2em;
    font-size:14px;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    resize:none;
    overflow: hidden; 
    box-sizing: border-box; 
    // font-color: #C1C9D0;

    &:focus,
    &:active {
      height: auto; /* 포커스될 때 높이 자동 조절 */
    }
}

.text-input:focus{
    outline:none;
}

.generate-button{
    width: 30rem;
    height: 54px;
    border-radius:15px;
    margin-top:1em;
    margin-bottom:2em;
    border: solid 1px transparent;
    background-color: #CED4DA;
    filter: drop-shadow(0 4px 20px rgba(24, 23, 37, 0.1));
    display:flex;
    align-items: center;
    justify-content: center;
}
